<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/login/login.css">
    <title>Our Pictures</title>
  </head>
  <body >


<section id="login_text">
  <div class="logo">
    <img src="/static/pic/logo.png" alt="logo">
  </div>
  <form class="" action="index.html" method="post">
    <input type="text" name="user_name" placeholder="用户名">
    <br>
    <input type="text" name="password" placeholder="密码">
    <br>
    <button type="submit" name="button">登陆</button>
    <br>

  </form>



</section>

  </body>
</html>
